body {
	    background: url('../images/brickBackground.jpeg');
	    color: #000;
}

img {
width: 12%;
}

h2 {
	padding-left: 10px;
	line-height: 25px;
}

h1,h2,p {
	padding-left: 20px;
}

#blueGem:hover {
	width: 15%;
}

#greenGem:hover {
	width: 15%;
}

#pinkGem:hover {
	width: 15%;
}

#purpleGem:hover {
	width: 15%;
}

#title {
	color: #fff;
	margin: 0px 20px;
	width: 50%;
	text-align: left;
	font-size: 52px;
}

#instructions {
	background-color: #ddd;
	width: 50%;
	margin: 20px;
	font-size: 16px;
}

#targetNumberDiv {
	margin: 0px 20px;
}

#targetNumCol {
	width: 20%;
	height: 100px;
	background-color: white;
	float: left;
}

#winLossColumn {
	margin-left: 20px;
	width: 20%;
	height: 100px;
	background-color: grey;
	float: left;
}

#imageRow {
	margin: 0px 20px;
	line-height: 200px;
}

#totalScoreIs {
	background-color: green;
	margin: 0px 20px;
	width: 50%;
	height: 50px;
}

#totalScore {
	color: #fff;
}

#messageDiv {
	background-color: #0066ff;
	margin: 20px;
	width: 50%;
	height: 50px;
}

#message {
	color: #ffff66;
}